DATABASE_HOST="0.0.0.0"
DATABASE_PORT=5435
DATABASE_USER="root"
DATABASE_PASSWORD="local"
DATABASE_DB="digital_signatural"
SSL_MODE="disable"
GIN_MODE="debug"
BACKEND_PORT="8080"
CHAIN_ENDPOINT="http://localhost:8545"
CHAIN_ID=451998
CONTRACT_ADDRESS="0xa98fDC6E2912E1B447c44844392Fb0424CD8348d"
ADMIN_PUBLIC_KEY="0x19B76800446fe8508Fc5d50c6600Fd2Ac5cbaf60"
PRIVATE_KEY="402590e8650e68d85dc0e52338627d243de0c21ad33bdf3a8f61a9f9ce904304"
GMAIL_USERNAME=""
GMAIL_PASSWORD=""